:root {
    --neonColor: rgba(134, 239, 172, 0.7);
}

.profile-bar {
    transform: translateY(1rem) translateX(calc(-75% - 1rem));
    @apply absolute duration-500 w-max px-3;
    & > * {
        @apply pr-2 font-semibold py-1 flex gap-2 items-center justify-start cursor-pointer hover:text-blue-800;
    }

}

.profile-open {
    height: calc(auto);
    @apply border-gray-700 bg-blue-300 text-gray-700 overflow-hidden mr-2 py-1 border;

   
}

.profile-bar > :nth-child(n + 2) {
    @apply border-t border-gray-700;
}

.profile-close {
    @apply opacity-0 overflow-hidden py-0 m-0 border-0
}

.neon-escape {
    filter: 
    drop-shadow( 10px 10px 10px var(--neonColor)) 
    drop-shadow( -10px -10px 10px var(--neonColor)) 
    drop-shadow( 10px -10px 10px var(--neonColor)) 
    drop-shadow( -10px 10px 10px var(--neonColor));
}